    .container{
        margin: 4em;
        text-align: center;
    }

    .loader{
        border: 16px solid #bdc3c7;
        width: 320px;
        height: 320px;
        margin: auto;
        border-top-color: aquamarine;
        border-bottom-color: blueviolet;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    @keyframes spin{
        0%{
            transform: rotate(0deg);
        }
        25%{
            border-bottom-color: red;
            border-top-color: red;
        }
        100%{
            transform: rotate(360deg);
        }
    }